
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-item {
    align-items: center center;
    padding: .5em;
    margin-right: 1em;
    user-select: none;
    cursor: pointer;
}
.block{
    background-color: rgb(39, 38, 38);
}
.nav-item:hover{
    color: red;
}
nav {
    background-color: rgb(39, 38, 38);
    width: 100vw;
    padding: 1em 0 1em;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center center;    
}
.logo{
    margin-top: 19px;
    margin-left: 40px;
    position: absolute;
    top: 0%;
    display: inline-block;
    width: 50px;
}
.header{
    display: flex;
    width: fit-content;
    padding: .5em;
    color: white;
    margin-right: 1em;
    justify-content: center;
}
.main{
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
}
.birdfly{
    filter: brightness(40%);
    width: 100%;
}
.centered-z {
    position: absolute;
    width: 100px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.odin{
    color: rgb(206, 204, 204);
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px ;
    transform: translate(-50%, -50%);
}
section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 6vw;
    box-sizing: border-box;
    min-height: 50vh;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 6vw;
    box-sizing: border-box;
    min-height: 50vh;
}

.header_right{
    flex-direction: row;
    display:flex;
    margin:40px;


}
.h1{
    size: 50px;
}

.p{
    font-size:5px;
}

.txt{
    flex-direction: column;
    display:flex;
    margin-left:20px;
    font-size:14px;
}

.imgg{
    margin:20px;
}
